@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trey Forms Homework</h1>
</div>
<div>
    <p>
        Portland meditation neutra, mustache deep v chambray
        lomo forage viral dreamcatcher hella. Skateboard
        chambray venmo austin cornhole. Humblebrag brooklyn
        you probably haven't heard of them, freegan roof party
        whatever gluten-free heirloom swag thundercats
        knausgaard retro franzen. Man braid art party tilde
        etsy, deep v before they sold out readymade shabby
        chic humblebrag put a bird on it. Fanny pack
        semiotics cold-pressed yr sriracha keytar. Ennui
        everyday carry lomo neutra narwhal blog, typewriter
        plaid kitsch listicle four dollar toast. Street art
        hammock gluten-free literally, pabst banjo quinoa yr
        trust fund cliche raw denim four dollar toast pour-over
        sriracha single-origin coffee.
    </p>
</div>
<p>
    <label>Name</label>
    <input type="text"
           name="Name"
           value="Your Name Here" />
</p>
<p>
    <label>Description</label>
    <input type="text"
           name="Description"
           value="Brief Description Here " />
</p>
<button >
    <input type="submit" value="Done">
</button>