@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trey Forms Homework</h1>
</div>
<div>
    <p>
        Portland meditation neutra, mustache deep v chambray
        lomo forage viral dreamcatcher hella. Skateboard
        chambray venmo austin cornhole. Humblebrag brooklyn
        you probably haven't heard of them, freegan roof party
        whatever gluten-free heirloom swag thundercats
        knausgaard retro franzen. 
    </p>
</div>
<p>
    <label>Name</label>
    <input type="text"
           name="Name"
           value="Your Name Here" />
</p>
<p>
    <label>Description</label>
    <input type="text"
           name="Description"
           value="Brief Description Here " />
</p>
<button >
    <input type="submit" value="Done">
</button>